# ====================
# Python 관련
# ====================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
build/
dist/
*.egg

# ====================
# VSCode, IDE
# ====================
.vscode/
.idea/

# ====================
# OS 생성 파일
# ====================
.DS_Store
Thumbs.db

# ====================
# 환경 변수 / 보안 키
# ====================
*.env
.env.*

# ====================
# 로그 / 캐시
# ====================
*.log
*.pid
*.sqlite3
.cache/

# ====================
# Jupyter
# ====================
.ipynb_checkpoints/

# ====================
# 기타 파일
# ====================
bus_oppor_induce_prediction*
OD*
test*
traffic_congest_prediction*
*.xlsx
*.html
